@{
    ViewData["Title"] = "Home Page";
}
@model Fark
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td style="color:darkblue;font-size:20px;"> Birinci Sayı Değerini Giriniz : </td>
                    <td>@Html.EditorFor(sayi1 => sayi1.BirinciSayi)</td>
                </tr>
                <tr>
                    <td style="color:darkblue;font-size:20px;"> İkinci Değerini Giriniz : </td>
                    <td>@Html.EditorFor(sayi2 => sayi2.İkinciSayi)</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Farkı Hesapla" />
                    </td>
                </tr>
                <tr>
                    <td>@ViewBag.Message</td>
                </tr>
            </table>
        }
    </div>
</body>
</html>